# IntelliJ IDEA
/.idea/
/*.iml
/workspace.xml
/shelf/
/httpRequests/
/dataSources/
/dataSources.local.xml
/mavenHomeManager.xml

# Java / Maven
/target/
/out/
*.class
*.jar
*.war

# Logs
*.log
logs/
spring.log

# System files
.DS_Store
Thumbs.db

# Env files
.env

# OS-specific
*.swp
*.swo